<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                -Listando banco de dados-
            </h1>
        </div>       
    </div>
    <div class="row">
        <div class="col-6 bg-my-color-2 rounded shadow-lg text-light" style="height: 300px; overflow-y: scroll">
                {{#each usuarios}}                                               {{!Button boleto é apenas para demonstração                 }}
                <p>
                    Id: {{IdUsuario}} | Nome: {{Nome}} | E-mail: {{Email}} <a href="/usuario/pagamento/{{IdUsuario}}" class="btn btn-primary">Boleto</a> | <a href="/usuario/modificar/{{IdUsuario}}" class="btn btn-primary">Editar</a> | <a href="usuario/excluir/{{IdUsuario}}" class="btn btn-primary">Excluir</a>
                </p>
                {{/each}}
                </p>

        </div>
        <div class="col-6 bg-my-color-3 rounded  shadow-lg text-light">
            <form action="usuario/adicionar" method="post">
                <legend class="text-center mt-4">Cadastrando Usuários</legend>
                <label>Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserir o nome" required>
                <label>email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Inserir o email" required>
                <label>senha:</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="A senha deve conter 8 caracteres" maxlength="8" required>
                 <label>CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Inserir o CPF" required>
                <label>Apartamento </label>
                <select class="form-control" name="apartamento" id="apartamento" required>
                    {{#each apartamentos}}
                    <option value="{{IdEmpreendimento}}">{{Apartamento}}</ooption>
                    {{/each}}
                </select>
                
                <button type="submit" class="btn btn-my-color-4 mt-4 mb-2">Enviar</button>
            </form>
        </div>
    </div>
</div>               