 
 {{#each usuarios}} 
   
      <h3 class="mx-3 my-3">{{Nome}}</h3>      
      <div class="d-flex justify-content-end mx-3 px-3">
        <form action="boleto/" method="post">
          <input type="hidden" name="id" id="id" value="{{IdUsuario}}">
          <button class="btn btn-success" type="submit">Gerar</button></a>
      </div>
{{else}}
    
{{/each}}
<hr> 
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mes</th>
        <th scope="col">Emissão</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      
        {{#each boletos}}
          <tr> 
            <th scope="row">1</th>     
            <td>{{{DataEmissao}}}</td>
            <td>{{DataVencimento}}</td>
            <td id='{{IdPagamento}}'>
              <Script>            
              this.document.getElementById('{{IdPagamento}}').innerText = {{StatusPagamento}} == 0 ? 'Aguardando Pagamento' : 'Pago';          
              </Script>
            </td>          
            <td><a href="/usuario/pagamento/boleto/{{Token}}" class="btn btn-outline-success">Visualizar</a></a></td>
          </tr>
        {{else}}
          <h4>Ainda não há pagamentos disponíveis</h4>
        
        {{/each}}    
    </tbody>
  </table>
</div>
