 
 {{#each usuarios}} 
   
      <h3 class="mx-3 my-3">{{Nome}}</h3>      
      <div class="d-flex justify-content-end mx-3 px-3">
        <form action="boleto/" method="post">
          <input type="hidden" name="id" id="id" value="{{IdUsuario}}">
          <button class="btn btn-primary"  type="submit">Gerar Boleto</button></a>
      </div>
{{else}}
    
{{/each}}
<hr> 
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mes</th>
        <th scope="col">Emissão</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      
        {{#each boletos}}
        <!-- ADD mês do pagamento  e cor de fundo-->
          <tr id="{{DataVencimento}}{{IdPagamento}}">            
            <th scope="row" id="{{{DataEmissao}}}{{IdPagamento}}"><script>              
              this.document.getElementById('{{{DataEmissao}}}{{IdPagamento}}').innerText = '' + (new Date('{{{DataEmissao}}}').getUTCMonth() + 1);
            </script></th>     
            <td>{{{DataEmissao}}}</td>
            <td>{{DataVencimento}}</td>
            <td id='{{IdPagamento}}'>
              <Script>  
                let cor{{IdPagamento}} ='';
                let texto{{IdPagamento}} = '';
                if({{StatusPagamento}} == 1)
                  {
                    cor{{IdPagamento}} = '#28a733b9';
                    texto{{IdPagamento}} = 'Pago'
                  }
                else{
                    if({{tempoAtraso}} >= 0)
                      {
                        cor{{IdPagamento}} = '#dc3545';
                        texto{{IdPagamento}} = 'Em atraso'
                      }else{
                        texto{{IdPagamento}} = 'Aguardando Pagamento'
                      }
                  }
                this.document.getElementById('{{IdPagamento}}').innerText = texto{{IdPagamento}}
                this.document.getElementById('{{DataVencimento}}{{IdPagamento}}').style.backgroundColor = cor{{IdPagamento}};
               
              </Script>
            </td>          
            <td><a href="/usuario/pagamento/boleto/{{Token}}" class="btn btn-outline-primary">Visualizar</a></td>
          </tr>
         
        {{else}}
          <h4>Ainda não há pagamentos disponíveis</h4>
        
        {{/each}}    
    </tbody>
  </table>
</div>
